![Growdev](https://www.growdev.com.br/assets/images/logo_growdev.png)

![Formação Engenharia de Dados](https://d335luupugsy2.cloudfront.net/cms/files/524558/1707226566/$occu5m8t1op)

Este material tem como objetivo incentivar a prática dos conteúdos estudados até o momento, e a pesquisa. Tenha em consideração que o exercício foi pensado para incentivar a prática dos conteúdos estudados até então, porém aprender a pesquisar faz parte do processo de aprendizagem.

Fique tranquilo, faça os exercícios com calma, e boa prática!

# Orientações:

 - Faça uma copia deste arquivo
 - Após concluir os exercicios, suba seu exercicio para o GitHub e compartilhe o link no **google** Classroom


Utilize o dataset contido nesse [link](https://www.kaggle.com/datasets/upadorprofzs/testes), e responda as questões abaixo.

O dataset contém dados estatísticos do IBGE relativos à escolaridade, renda entre outros campos avaliados pela  PNAD (Pesquisa Nacional por Amostra de Domicílios).

Os dados podem representar informações relevantes e reveladoras sobre a distribuição de renda e possivelmente alguns indicadores sobre tais situações encontradas a partir dos dados.

In [61]:
import pandas as pd
import pprint

df = pd.read_csv('./dados.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76840 entries, 0 to 76839
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   UF              76840 non-null  int64
 1   Sexo            76840 non-null  int64
 2   Idade           76840 non-null  int64
 3   Cor             76840 non-null  int64
 4   Anos de Estudo  76840 non-null  int64
 5   Renda           76840 non-null  int64
 6   Altura          76840 non-null  float64
dtypes: float64(1), int64(6)
memory usage: 4.1 MB

In [62]:
def fix_sex_label_info(df):
    return df['Sexo'].replace({0: 'Masculino', 1: 'Feminino'})


ufs_label = {
    11: "Rondônia",
    12: "Acre",
    13: "Amazonas",
    14: "Roraima",
    15: "Pará",
    16: "Amapá",
    17: "Tocantins",
    21: "Maranhão",
    22: "Piauí",
    23: "Ceará",
    24: "Rio Grande do Norte",
    25: "Paraíba",
    26: "Pernambuco",
    27: "Alagoas",
    28: "Sergipe",
    29: "Bahia",
    31: "Minas Gerais",
    32: "Espírito Santo",
    33: "Rio de Janeiro",
    35: "São Paulo",
    41: "Paraná",
    42: "Santa Catarina",
    43: "Rio Grande do Sul",
    50: "Mato Grosso do Sul",
    51: "Mato Grosso",
    52: "Goiás",
    53: "Distrito Federal"
}

colors_label = {
    0: 'Indígena',
    2: 'Branca',
    4: 'Preta',
    6: 'Amarela',
    8: 'Parda',
    9: 'Sem declaração'
}


df.head(10)

   UF  Sexo  Idade  Cor  Anos de Estudo  Renda    Altura
0  11     0     23    8              12    800  1.603808
1  11     1     23    2              12   1150  1.739790
2  11     1     35    8              15    880  1.760444
3  11     0     46    2               6   3500  1.783158
4  11     1     47    8               9    150  1.690631
5  11     1     34    8              12    790  1.637906
6  11     0     57    8              12   3150  1.570078
7  11     1     60    8              12   1700  1.608495
8  11     1     50    4              14   1800  1.780329
9  11     0     26    8              12   1150  1.793203

# Exercícios

Qual a quantidade de pessoas nas seguintes faixas etárias
- 20 anos ou menos
- 21 a 35 anos
- 36 a 50 anos
- 51 a 65 anos
- maiores de 65 anos

In [63]:
def build_age_groups(df):
    return {
        '-20': len(df[df['Idade'] <= 20]),
        '21-35': len(df[(df['Idade'] > 20) & (df['Idade'] <= 35)]),
        '36-50': len(df[(df['Idade'] >= 36) & (df['Idade'] <= 50)]),
        '51-65': len(df[(df['Idade'] >= 51) & (df['Idade'] <= 65)]),
        '66-': len(df[df['Idade'] > 65])
    }


age_groups_df = pd.DataFrame(list(build_age_groups(df).items()), columns=['Faixa Etária', 'Quantidade'])
age_groups_df

  Faixa Etária  Quantidade
0          -20         764
1        21-35       20654
2        36-50       31770
3        51-65       20006
4          66-        3646

Qual é a média de escolaridade em cada faixa etária?

In [64]:
def build_mean_scholarship_age_groups(df):
    return {
        '-20': f"{round(df[df['Idade'] <= 20]['Anos de Estudo'].mean(), 2)} anos",
        '21-35': f"{round(df[(df['Idade'] > 20) & (df['Idade'] <= 35)]['Anos de Estudo'].mean(), 2)} anos",
        '36-50': f"{round(df[(df['Idade'] >= 36) & (df['Idade'] <= 50)]['Anos de Estudo'].mean(), 2)} anos",
        '51-65': f"{round(df[(df['Idade'] >= 51) & (df['Idade'] <= 65)]['Anos de Estudo'].mean(), 2)} anos",
        '66-': f"{round(df[df['Idade'] > 65]['Anos de Estudo'].mean(), 2)} anos"
    }


mean_age_groups_df = pd.DataFrame(list(build_mean_scholarship_age_groups(df).items()), columns=['Faixa Etária', 'Média de Escolaridade'])
mean_age_groups_df

  Faixa Etária Média de Escolaridade
0          -20              9.7 anos
1        21-35            10.81 anos
2        36-50             9.76 anos
3        51-65             8.27 anos
4          66-             5.84 anos

Qual a UF que concentra a maior renda?

In [65]:
uf_group = df.groupby('UF')['Renda'].sum()


print(f'UF com maior renda: {ufs_label[uf_group.idxmax()]}\n'+
      f'Renda somada: {uf_group.max()}')

UF com maior renda: São Paulo
Renda somada: 22539969

Qual a renda média de pessoas pretas e brancas de homens e mulheres?

In [66]:
renda_media_homens = round(df[df['Sexo'] == 0]['Renda'].mean(), 2)
renda_media_mulheres = round(df[df['Sexo'] == 1]['Renda'].mean(), 2)
renda_media_brancos = round(df[df['Cor'] == 2]['Renda'].mean(), 2)
renda_media_pretos = round(df[df['Cor'] == 4]['Renda'].mean(), 2)

print('Renda Média por Sexo e Cor:\n')
print(f'\t1. Homens:   R$ {renda_media_homens}\n'+
      f'\t2. Mulheres: R$ {renda_media_mulheres}\n'+
      f'\t3. Brancas:  R$ {renda_media_brancos}\n'+
      f'\t4. Pretas:   R$ {renda_media_pretos}')

Renda Média por Sexo e Cor:

	1. Homens:   R$ 2192.44
	2. Mulheres: R$ 1566.85
	3. Brancas:  R$ 2679.02
	4. Pretas:   R$ 1442.29

Qual a renda média concentrada em cada faixa etária?

In [67]:
def build_mean_income_age_groups(df):
    return {
        '-20': round(df[df['Idade'] <= 20]['Renda'].mean(), 2),
        '21-35': round(df[(df['Idade'] > 20) & (df['Idade'] <= 35)]['Renda'].mean(), 2),
        '36-50': round(df[(df['Idade'] >= 36) & (df['Idade'] <= 50)]['Renda'].mean(), 2),
        '51-65': round(df[(df['Idade'] >= 51) & (df['Idade'] <= 65)]['Renda'].mean(), 2),
        '66-': round(df[df['Idade'] > 65]['Renda'].mean(), 2)
    }
mean_age_groups_income_df = pd.DataFrame(build_mean_income_age_groups(df).items(), columns=['Faixa Etária', 'Renda Média'])
mean_age_groups_income_df

  Faixa Etária  Renda Média
0          -20       985.35
1        21-35      1748.29
2        36-50      2113.76
3        51-65      2150.20
4          66-      1831.23

Qual a renda média nas faixas de anos de estudo abaixo?
- 2 anos ou menos
- 3 a 6 anos
- 7 a 10 anos
- 10 a 12 anos
- 13 anos ou mais

In [68]:
def build_mean_scholarship_by_sex_of_indigenas(df):
    SCHOLARSHIP_LABEL = 'Anos de Estudo'
    return {
        '-2': round(df[df[SCHOLARSHIP_LABEL] <= 2]['Renda'].mean(), 2),
        '3-6': round(df[(df[SCHOLARSHIP_LABEL] > 2) & (df[SCHOLARSHIP_LABEL] <= 6)]['Renda'].mean(), 2),
        '7-10': round(df[(df[SCHOLARSHIP_LABEL] >= 7) & (df[SCHOLARSHIP_LABEL] < 10)]['Renda'].mean(), 2),
        '10-12': round(df[(df[SCHOLARSHIP_LABEL] >= 10) & (df[SCHOLARSHIP_LABEL] <= 12)]['Renda'].mean(), 2),
        '13-': round(df[df[SCHOLARSHIP_LABEL] > 12]['Renda'].mean(), 2)
    }
mean_income_scholarship_groups_df = pd.DataFrame(build_mean_scholarship_by_sex_of_indigenas(df).items(), columns=['Anos de Estudo', 'Renda Média'])
mean_income_scholarship_groups_df

  Anos de Estudo  Renda Média
0             -2       747.10
1            3-6      1089.38
2           7-10      1378.63
3          10-12      1773.13
4            13-      4434.41

Qual a escolaridade entre indígenas, para homens e mulheres?

In [69]:
# indígenas -> ['Cor'] == 0
def build_mean_scholarship_by_sex_of_indigenas(df):
    df['Sexo'] = df['Sexo'].replace({0: 'Masculino', 1: 'Feminino'})
    return df.groupby('Sexo')['Anos de Estudo'].mean()

table = build_mean_scholarship_by_sex_of_indigenas(df[df['Cor'] == 0].copy())

indigenas_mean_scholarship = pd.DataFrame(table.items(), columns=['Sexo', 'Média Anos de Estudo'])

indigenas_mean_scholarship['Média Anos de Estudo'] = round(indigenas_mean_scholarship['Média Anos de Estudo'], 2)

indigenas_mean_scholarship

        Sexo  Média Anos de Estudo
0   Feminino                  9.11
1  Masculino                  7.88

Qual a média de anos de estudo entre brancos e negros?

In [70]:
def build_mean_scholarship_whites_n_black(df):
    df['Cor'] = df['Cor'].replace({2: 'Branca', 4: 'Preta'})
    return df.groupby('Cor')['Anos de Estudo'].mean()

table = build_mean_scholarship_whites_n_black(df[(df['Cor'] == 2) | (df['Cor'] == 4)].copy())
white_n_black_mean_scholarship = pd.DataFrame(table.items(), columns=['Cor', 'Média Anos de Estudo'])
white_n_black_mean_scholarship['Média Anos de Estudo'] = round(white_n_black_mean_scholarship['Média Anos de Estudo'], 2)

white_n_black_mean_scholarship

      Cor  Média Anos de Estudo
0  Branca                 10.49
1   Preta                  8.86

Qual a média de anos de estudo e de renda para mulheres brancas, e para mulheres negras?

In [71]:
def build_mean_scholarship_n_income_whites_n_black(df):
    df = df.copy()
    df['Cor'] = df['Cor'].replace({2: 'Branca', 4: 'Preta'})
    return df.groupby(['Cor']).agg(
        Media_Anos_de_Estudo=('Anos de Estudo', 'mean'),
        Media_Renda=('Renda', 'mean')
    ).reset_index()

table = df[(df['Cor'] == 2) | (df['Cor'] == 4)]
# Sexo == 1 -> Feminino
woman_white_n_black_mean_scholarship_n_income = build_mean_scholarship_n_income_whites_n_black(table[table['Sexo'] == 1])

woman_white_n_black_mean_scholarship_n_income['Media_Anos_de_Estudo'] = round(woman_white_n_black_mean_scholarship_n_income['Media_Anos_de_Estudo'], 2)
woman_white_n_black_mean_scholarship_n_income['Media_Renda'] = round(woman_white_n_black_mean_scholarship_n_income['Media_Renda'], 2)

woman_white_n_black_mean_scholarship_n_income.rename(columns={'Media_Anos_de_Estudo': 'Média Anos de Estudo', 'Media_Renda': 'Média Renda'})

      Cor  Média Anos de Estudo  Média Renda
0  Branca                 11.30      2109.87
1   Preta                  9.52      1134.60

 Qual é a UF com maior média de escolaridade e qual a UF com maior média de renda?

In [72]:
uf_group_scholarship = df.groupby('UF')['Anos de Estudo'].mean()

print(f'UF com maior tempo médio de estudo: {ufs_label[uf_group_scholarship.idxmax()]}\n'+
      f'Tempo médio aproximado: {round(uf_group_scholarship.max())} anos')

print('\n-------------------\n')

uf_group_income = df.groupby('UF')['Renda'].mean()
print(f'UF com maior média de renda: {ufs_label[uf_group_income.idxmax()]}\n'+
      f'Maior renda média: R$ {round(uf_group_income.max(), 2)}')

UF com maior tempo médio de estudo: Distrito Federal
Tempo médio aproximado: 12 anos

-------------------

UF com maior média de renda: Distrito Federal
Maior renda média: R$ 4241.95

Elabore você uma pergunta sobre a base de dados e escreva o código para responder a pergunta.



- Qual a média de Renda por Faixa de Altura e Altura por Cor?

In [100]:
num_faixas = 5
bins_alturas = [1.4, 1.5, 1.6, 1.7, 1.8, 1.9]
labels_laturas = ['1.3-1.49', '1.4-1.59', '1.5-1.69', '1.6-1.79', '1.7-1.89']
df['Faixa Altura'] = pd.cut(df['Altura'], bins=bins_alturas, labels=labels_laturas)

table = df.groupby('Faixa Altura')['Renda'].mean()
table = pd.DataFrame(table.items(), columns=['Faixa Altura', 'Média Renda'])
table['Média Renda'] = round(table['Média Renda'], 2)
table

df['Cor'] = df['Cor'].replace(colors_label)
table = df.groupby('Cor')['Altura'].mean()
table = pd.DataFrame(table.items(), columns=['Cor', 'Média de Altura'])
table['Média de Altura'] = round(table['Média de Altura'], 3)
table.sort_values(by='Média de Altura', inplace=True)
print(table.to_string(index=False))

     Cor  Média de Altura
 Amarela            1.698
   Parda            1.699
  Branca            1.700
   Preta            1.700
Indígena            1.701